@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Paper Sizes */
  --print-size-a4: 210mm 297mm;
  --print-size-letter: 8.5in 11in;
  --print-size-a5: 210mm 148mm;
}

.cl-footer,
.cl-internal-b3fm6y,
.cl-userButtonPopoverFooter {
  display: none !important; /* Hide Clerk component footer */
}

::-webkit-scrollbar {
  display: none; /* remove scroll bar */
}

.left-popup-container {
  transform: translateX(calc(-100% - 1.25rem)); /* account popup custom css */
}

@media print {
  @page {
    size: var(--print-size-a4);
    margin: 0 !important;
    padding: 0 !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
